<div class="container-fluid">
  <form class="form-inline" (ngSubmit)="onSubmit()" [formGroup]="bookForm">
    <div class="form-group col-sm-12">
      <div class="col-12 col-sm-4">
        <input type="text" class="form-control" id="name" required formControlName="name" placeholder="Book title">
      </div>
      <div class="col-12 col-sm-4">
        <input type="text" class="form-control" id="author" required formControlName="author" placeholder="Author name">
      </div>
      <div class="col-12 col-sm-4">
        <input type="number" class="form-control" id="issueYear" required formControlName="issueYear" placeholder="Issue year">
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="col-12 col-sm-4">
        <input type="text" class="form-control" id="addDate" required formControlName="addDate" placeholder="Add date">
      </div>
      <div class="col-12 col-sm-4">
        <input type="text" class="form-control" id="review" formControlName="review" placeholder="Review">
      </div>
      <div class="col-12 col-sm-4">
        <div class="btn-group" role="group" aria-label="Book controls">
          <button class="btn btn-success" type="submit" [disabled]="!bookForm.valid"> Save </button>
          <button class="btn btn-primary" type="button" (click)="viewBook()"> Cancel </button>
        </div>
      </div>
    </div>
  </form>
</div>
