<div class="container-fluid">
  <div class="form-inline">
    <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="col-12 col-sm-4 col-md col-lg col-xl">
        <input type="text" class="form-control" disabled value="{{ book.name }}" placeholder="Book title">
      </div>
      <div class="col-12 col-sm-4 col-md col-lg col-xl">
        <input type="text" class="form-control" disabled value="{{ book.author }}" placeholder="Author name">
      </div>
      <div class="col-12 col-sm-4 col-md col-lg col-xl">
        <input type="number" class="form-control" disabled value="{{ book.issueYear }}" placeholder="Issue year">
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="col-12 col-sm-4 col-md col-lg col-xl">
        <input type="text" class="form-control" disabled value="{{ book.addDate | date:'yyyy-MM-dd' }}" placeholder="Add date">
      </div>
      <div class="col-12 col-sm-4 col-md col-lg col-xl">
        <input type="text" class="form-control" disabled value="{{ book.review }}" placeholder="Review">
      </div>
      <div class="col-12 col-sm-4 col-md col-lg col-xl">
        <div class="btn-group" role="group" aria-label="Book controls">
          <button class="btn btn-primary" type="button" (click)="editBook()"> Edit </button>
          <button class="btn btn-danger" type="button" (click)="removeBook()"> Delete </button>
        </div>
      </div>
    </div>
  </div>
</div>
