<div class="col-12 book-row">
  <app-book-inline
    *ngIf="!edit"
    [book]="book"
    (edit)="onEdit($event)"
    (onDelete)="handleDelete($event)"
    >
  </app-book-inline>

  <app-book-inline-edit
    *ngIf="edit"
    [book]="book"
    (edit)="onEdit($event)"
    (onSave)="handleSave($event)"
    (onDelete)="handleDelete($event)"
    >
  </app-book-inline-edit>
</div>
