<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/books">Books</a>
  <a class="nav-link" routerLink="/add">Add book</a>
  <span>Books in collection: {{ booksCount }}</span>
</nav>
<router-outlet></router-outlet>
<ng-snotify></ng-snotify>
