<div class="container">
    <h1>Add book</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="bookForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required formControlName="name">
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" required formControlName="author">
      </div>

      <div class="form-group">
        <label for="issueYear">Issue year</label>
        <input type="number" class="form-control" id="issueYear" required formControlName="issueYear">
      </div>

      <div class="form-group">
        <label for="addDate">Add date</label>
        <input type="text" class="form-control" id="addDate" required formControlName="addDate">
      </div>

      <div class="form-group">
        <label for="review">Review</label>
        <textarea class="form-control" id="review" formControlName="review"></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Submit</button>
    </form>
</div>
